.Button {
    justify-content: center; /* center the content horizontally */
    align-items: center; /* center the content vertically */
    margin: auto;
    color:rgb(248, 248, 248);
    background-color: rgb(15, 75, 141);
    font-family: rubik, sans-serif;
    text-align: center;
    border-radius: 25px;
    border: 3px solid rgb(15, 75, 141);
    padding: 0.5em; 
    text-decoration: none;
    cursor: pointer;
    width: 350px;
}

.Pad {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.Donate {
    font-size: 1.7em;
    display: inline-flex;
    height: 50px;
}

.Button .Project {
    display: block;
}

.ButtonProjectTitle{
    font-size: 1.7em;
    color:rgb(248, 248, 248);
    font-family: rubik, sans-serif;
    justify-content: center; /* center the content horizontally */
    align-items: center; /* center the content vertically */
    margin: auto;
    font-weight: normal;
}

.ButtonProjectSubtitle{
    font-size: 1.0em;
    color:rgb(248, 248, 248);
    font-family: rubik, sans-serif;
    justify-content: center; /* center the content horizontally */
    align-items: center; /* center the content vertically */
    margin: auto;
    font-weight: normal;
}

/* .link {
    display: flex;
    align-items: center;  
    justify-content: center;
    text-decoration: none;
} */