.labs_wordmark {
    display: block;
    margin: 0 auto;
    max-height: 100px;
    max-width: 100%;    
}

#header_stripe {
    background-color: rgb(15, 75, 141);
    /* background-size: 100%; */
    background-size: cover;
    position: sticky;
    top: 0;
    width: 100%;
    padding-bottom: 20px;
    background-clip: content-box;
    z-index: 10;
}

.stressmap {
    display: block;
    margin: 0 auto;
    min-height: 100px;
    max-width: 100%;
}