.mdxSection{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.mdxImageInline {
    width: 400px;
    max-width: 40%;
    max-height: 500px;
    padding: 20px;
    margin: 0 auto;
}
.mdxTextBlock {
    max-width: 500px;
    min-width: 200px;
    padding: 20px;
    margin: 20px 0px;
    /* margin: 0 auto; */
}
.mdxParagraph {    
    margin-bottom: 1em;
}
.mdxVideo {
    flex-grow: 1; 
    border: none;
    margin: 20px;
    padding: 0; 
    min-height: 300px;
    
}
.mdxMapInline {
    width: 700px;
    height: 500px;
}
