#root {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#primary-column {
  /* max-width: 1500px; */
  margin: auto;
  /* display: flex;
  justify-content: center; */
}

.wrapper {
  max-width: 640px;
  margin: auto;
  /* display: flex;
  justify-content: center; */
}

#map-container {
  /* max-height: 90%; */
  height: 100%;
  width: 100%;
  /* max-width: 1500px; */
  margin: auto;
  /* temporarily set the background color so we can tell where the map container is positioned */
  background-color: lightgrey;
  z-index: 0;
}

h1, .head1 {
  max-width: 640px;
  color:#36342C;
  font-family: rubik, sans-serif;
  font-size: 2.5em;
  text-align: center;
  margin: auto;
  margin-bottom: 15px;
}

h2, .head2 {
  max-width: 640px;
  color:#36342C;
  font-family: rubik, sans-serif;
  font-size: 2.0em;
  text-align: center;
  margin: auto;
  margin-bottom: 15px;
}

h3, .head3 {
  max-width: 640px;
  color:#36342C;
  font-family: rubik, sans-serif;
  font-size: 1.7em;
  text-align: center;
  margin: auto;
  margin-bottom: 15px;
}

h4, .head4 {
  max-width: 640px;
  color:#36342C;
  font-family: rubik, sans-serif;
  font-size: 1.3em;
  text-align: center;
  margin: auto;
  margin-bottom: 15px;
}

p, ul, ol {
  color:#524F41;
  font-family: rubik, sans-serif;
  font-size: 1.0em;
  max-width: 640px;
  margin: auto;
}

.content {
  margin: auto;
}

.topbar {
  background-color: rgb(35 55 75 / 90%);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

.reset-button {
  position: absolute;
  top: 10px;
  z-index: 1;
  right: 220px;
  padding: 4px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.advanced-button {
  z-index: 1;
  position: absolute;
  top: 10px;
  right: 50px;
  padding: 4px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.close-button {
  position: absolute;
  top: 10px;
  z-index: 1;
  right: 10px;
  padding: 4px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.bike-parking-button {
  position: absolute;
  top: 25px;
  z-index: 1;
  left: 50px;
  padding: 4px 10px;
  border-radius: 10px;
  cursor: pointer;
}

#options-menu {
  position: absolute;
  top: 10px;
  left: 10px;
  max-width: 150px;
  background-color: #ffffffee;
  padding: 10px;
  z-index: 1;
}

#options-title {
  color:#36342C;
  font-family: rubik, sans-serif;
  font-size: 1.4em;
  text-align: center;
  margin: auto;
  margin-bottom: 5px;
}

.options-layer {
  color:#36342C;
  font-family: rubik, sans-serif;
  font-size: 1em;
  text-align: center;
  margin: auto;
  margin-bottom: 5px;
}

.sidebar {
  position: absolute;
  top: 50px;
  right: 10px;
  /* bottom: 30px; */
  /* width: 280px; */
  min-width: 200px;
  max-height: 90%;
  background-color: #ffffffd3;
  /* border: 1px solid #353535; */
  padding: 10px;
  z-index: 1;
  max-width: 450px;
}

.sidebar .basicMode {
  display: block;
  /* max-width: 400px;
  background-color: #F8F8F8;
  border-radius: 4px;
  filter: drop-shadow(0px 1px 6px #2927211A); */
}
.sidebar .advancedMode {
  display: block;
}

.tableContainer {
  /* https://thelinuxcode.com/make-html-table-vertically-scrollable/ */
  max-width: 400px;
  max-height: 500px;
  /* max-height: 80%; */
  /* height: 600px; */

  overflow: hidden;
  overflow-y: auto;
  /* overflow-y: scroll;  */
  /* overflow-x: scroll;  */

  /* bottom: 30px; */
}

.tableContainer thead th {
  position: sticky; /* make the table heads sticky */
  top: 0px; /* table head will be placed from the top of the table and sticks to it */
  background-color: #524F41;

  /* border: 5px solid; */
  /* border-color: #36342C; */
  /* border-radius: 8px 8px 0px 0px; */
  /* border-spacing: 0px; */
  padding: 9.67px 12.09px 9.67px 12.09px;
  font-family: rubik, sans-serif;
  font-size: 1.25em;
  color: #FFFFFF;
  font-weight: 400;
  width: 100px;
}

table {
  border-collapse: collapse; /* make the table borders collapse to each other */
  width: 100%;
}

td {
  text-align: center;
}

.tableStreetName {
  font-family: rubik, sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  text-align: left;
  color: #1B1A16;
  margin-bottom: 5px;
}

.tableSubheading {
  font-family: rubik, sans-serif;
  font-size: 1.2em;
  font-weight: 450;
  text-align: left;
  color: #1B1A16;
  margin-bottom: 5px;
}

.tableBox{
  border: 5px solid;
  border-color: #DBDAD3;
}

.tableSection{
  font-weight: 500;
  font-family: rubik, sans-serif;
  font-size: 1.5em;
  padding-top: 15px;
  background-color: #88836c;
}

.tableDescription {
  font-family: rubik, sans-serif;
  font-size: 1.0em;
  font-weight: 400;
  background-color: #F3F3F0;
  padding: 5px;
}

.tableValue {
  font-size: 1.25em;
  font-weight: 400;
  font-family: rubik, sans-serif;
  background-color: #ffffff;
}

.tableAdvancedMode {
  position: sticky;
  top: 0;
  width: 100%;
}

/* .tableAdvancedMode tr:nth-child(even){background-color: #f2f2f2;} */

.notes {
  color: gray;
  font-size: 0.8em;
  font-weight: 300;
  font-family: rubik, sans-serif;
}

.legend {
  background-color: #F8F8F8;
  color: #b106f5;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  bottom: 20px;
  left: 0;
  margin: 12px;
  border-radius: 4px;
  /* display: grid; */
}

.grid-container{
  display: grid;
  align-items: center;
  justify-content: center;
}

.legend-header-default {
  grid-column: 1;
  grid-row: 1 / span 4;
}

.legend-header-hover {
  grid-column: 1 / span 3;
  grid-row: 1;
}

.legend-row {  
  border: 5px solid;
  border-radius: 16px;
  grid-column: 1 / span 3;
  display: grid;
}

.legend-icon {
  grid-column: 1;
}

.legend-text {
  grid-column: 2;
}

.legend .default-image,
.legend:hover .hover-image{
  display: block;  
  height: 50px;
}

.legend .hover-image,
.legend:hover .default-image{
  display: none;
  height: 110px;
}

.rotate-image{
  transform: rotate(-90deg);
}

/* https://medium.com/edonec/build-a-react-collapsible-component-from-scratch-using-react-hooks-typescript-73dfd02c9208 */
.collapsible-content-edonec {
  overflow: hidden;
  transition: height 0.2s ease-in-out;
  border-bottom: 1px solid #dee2e6 !important;
}
.title-text-edonec {
  display: block;
  font-size: 1em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.collapsible-header-edonec {
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  /* text-align: center; */
  padding: 2px 20px 2px 20px;
  border-bottom: 1px solid #dee2e6 !important;
}
.collapsible-content-padding-edonec {
  padding: 20px 20px 20px 20px;
}
.rotate-center-edonec {
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.rotate-center-edonec.down {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.rotate-center-edonec.up {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.collapsible-icon-button-edonec {
  cursor: pointer;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.collapsible-card-edonec {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  max-width: 1000px;
  margin: auto;
}

.collapsible-card-edonec:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
